@model IEnumerable<TI2Project.Models.Estudios>

<h2>Studios</h2>

<p>@Html.ActionLink("Add Studio", "Create")</p>

@foreach (var item in Model)
{
    <div style="float:left; border-style:solid; border-color:black">
        <a href="/Estudios/Details/@item.ID">
            <img src="~/Images/Studios/@item.Imagem" width="180" height="270">
        </a>
        <p style="text-align:center">@item.Nome</p>
    </div>
    <div style="float:left; border-style:solid; border-color:white; border-width:thin"></div>
}
