@model TI2Project.Models.Atores

<h2>@Html.DisplayFor(model => model.Nome)</h2>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
</p>

<div style="float:left">
    <img src="~/Images/Actors/@Html.DisplayFor(model => model.Foto)" width="260" height="370">
    <p></p>
    <p>@Html.ActionLink("Back to Actors", "Index")</p>
</div>