@model IEnumerable<TI2Project.Models.Atores>

<h2>Actors</h2>

<p>@Html.ActionLink("Add New Actor", "Create")</p>

@foreach (var item in Model)
{
    <div style="float:left; border-style:solid; border-color:black">
        <a href="/Atores/Details/@item.ID">
            <img src="~/Images/Actors/@item.Foto" width="182" height="268">
        </a>
        <p style="text-align:center">@item.Nome</p>
    </div>
}