@model IEnumerable<TI2Project.Models.Filmes>

<h2>Films</h2>

@*impede que utilizadores que não sejam administradores criem filmes*@
@if (User.IsInRole("Admin"))
{
    <p>@Html.ActionLink("Add Film", "Create")</p>
}

@foreach (var item in Model)
{
    <div style="float:left; border-style:solid; border-color:black">
        @*redireciona o utilizador para a view Details do filme escolhido*@
        <a href="/Filmes/Details/@item.ID">
            <img src="~/Images/Films/@item.Imagem" width="180" height="270">
        </a>
        <p style="text-align:center">@item.Titulo</p>
    </div>
    <div style="float:left; border-style:solid; border-color:white; border-width:thin"></div>
}
