@model IEnumerable<TI2Project.Models.Filmes>

<h2>Films</h2>

<p>@Html.ActionLink("Add New Film", "Create")</p>

@foreach (var item in Model)
{
<div style="float:left; border-style:solid; border-color:black">
    <a href="/Filmes/Details/@item.ID">
        <img src="~/Images/Films/@item.Imagem" width="182" height="268">
        </a>
        <p style="text-align:center">@item.Titulo</p>
</div>
}
