@model IEnumerable<TI2Project.Models.Filmes>

<h2>Films</h2>

<p>
    @Html.ActionLink("Create New Film", "Create")
</p>
@{string title;} <!--eliminar-->
@foreach (var item in Model)
{
    title = Html.DisplayFor(modelItem => item.Titulo).ToString() + ".jpg";<!--eliminar-->
<div class="img" style="float:left; border-style:solid; border-color:black">
    <a href="/Filmes/Details/@item.ID">
        <img src="~/Imagens/Filmes/@title" width="182" height="268"> <!--mudar title-->
        </a>
        <p style="text-align:center">@Html.DisplayFor(modelItem => item.Titulo)</p>
</div>
}
