<h2>Contacts</h2>

<div style="float: left">
    <p><b>Degree: </b>Informatic Engineering</p>
    <p><b>Course: </b>Tecnologias de Internet II</p>
    <p><b>Lective Year: </b>2018/2019</p>
    <p><b>Administrators: </b></p>
    <img src="~/Images/Profile/vasco.png" width="125" height="150"> <img />
    <p><b>Name: </b>Vasco Marçal</p>
    <p><b>Student Number: </b>19640</p>
    <p><b>E-mail: </b>19640@ipt.pt</p>
    <p><b>Login: </b>vasco@web.com</p>
    <p><b>Password: </b>aA123.</p>
</div>

<div style="position: relative; left: 25px; top: 120px">
    <img src="~/Images/Profile/DSCF3287.JPG" width="125" height="150"> <img />
    <p><b>Name: </b>Henrique Simões</p>
    <p><b>Student Number: </b>20469</p>
    <p><b>E-mail: </b>20469@ipt.pt</p>
    <p><b>Login: </b>henrique@web.com</p>
    <p><b>Password: </b>aA123.</p>
</div>