@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>

<div style="float: left">
    <p><b>Course: </b>Tecnologias de Internet II</p>
    <p><b>Lective Year: </b>2018/2019</p>
    <p><b>Administrators: </b></p>
    <img src="" width="125" height="150"> <img />
    <p><b>Name: </b>Vasco Marçal</p>
    <p><b>Student Number: </b>19640</p>
    <p><b>E-mail: </b>19640@ipt.pt</p>
</div>

<div style="position: relative; left: 25px; top: 90px">
    <img src="~/Imagens/Profile Photos/DSCF3287.JPG" width="125" height="150"> <img />
    <p><b>Name: </b>Henrique Simões</p>
    <p><b>Student Number: </b>20469</p>
    <p><b>E-mail: </b>20469@ipt.pt</p>
</div>